services:
  redis:
    image: redis:7
    container_name: shopsphere-redis
    ports:
      - "6379:6379"
    restart: unless-stopped

  auth-service:
    build: ./services/auth-service
    container_name: shopsphere-auth
    ports:
      - "3001:3001"
    environment:
      - PORT=3001
      - JWT_SECRET=supersecret
    restart: unless-stopped

  catalog-service:
    build: ./services/catalog-service
    container_name: shopsphere-catalog
    ports:
      - "3004:3002" # host:container (container stays 3002)
    environment:
      - PORT=3002
      - JWT_SECRET=supersecret
      - SOLR_URL=http://solr:8983/solr/products
    depends_on:
      - solr
    restart: unless-stopped

  order-service:
    build: ./services/order-service
    container_name: shopsphere-orders
    ports:
      - "3003:3003"
    environment:
      - PORT=3003
      - JWT_SECRET=supersecret
    restart: unless-stopped

  gateway:
    build: ./gateway
    container_name: shopsphere-gateway
    ports:
      - "4000:4000"
    environment:
      - PORT=4000
      - REDIS_URL=redis://redis:6379
      - CATALOG_URL=http://catalog-service:3002/api/v1
      - ORDER_URL=http://order-service:3003/api/v1
      - AUTH_URL=http://auth-service:3001/api/v1
    depends_on:
      - catalog-service
      - order-service
      - auth-service
      - redis
    restart: unless-stopped

  solr:
    image: solr:9
    container_name: shopsphere-solr
    ports:
      - "8983:8983"
    command:
      - solr-precreate
      - products
    volumes:
      - solr_data:/var/solr
    restart: unless-stopped


  prometheus:
    image: prom/prometheus:latest
    container_name: shopsphere-prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./monitoring/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    depends_on:
      - gateway
    restart: unless-stopped

  grafana:
    image: grafana/grafana:latest
    container_name: shopsphere-grafana
    ports:
      - "3000:3000"
    depends_on:
      - prometheus
    restart: unless-stopped


volumes:
  solr_data:
