openapi: 3.0.0
info:
  title: ShopSphere Order Service API
  version: "1.0"

servers:
  - url: http://localhost:3003/api/v1

paths:
  /orders:
    get:
      summary: List orders
      responses:
        "200":
          description: OK

    post:
      summary: Create order
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - customerId
                - items
              properties:
                customerId:
                  type: integer
                  example: 101
                items:
                  type: array
                  minItems: 1
                  items:
                    type: object
                    required:
                      - productId
                      - qty
                      - unitPrice
                    properties:
                      productId:
                        type: integer
                        example: 1
                      qty:
                        type: integer
                        example: 2
                      unitPrice:
                        type: number
                        example: 50
                status:
                  type: string
                  example: PENDING
      responses:
        "201":
          description: Order created
        "400":
          description: Validation error

  /orders/{id}:
    get:
      summary: Get order by id
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: OK
        "404":
          description: Order not found

    put:
      summary: Update order
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  example: PAID
                items:
                  type: array
                  minItems: 1
                  items:
                    type: object
                    properties:
                      productId:
                        type: integer
                        example: 1
                      qty:
                        type: integer
                        example: 3
                      unitPrice:
                        type: number
                        example: 50
      responses:
        "200":
          description: Updated
        "400":
          description: Validation error
        "404":
          description: Order not found

    delete:
      summary: Delete order
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        "204":
          description: Order deleted
        "404":
          description: Order not found
